bump2version==1.0.1
cachetools==5.5.0
certifi==2024.8.30
chardet==5.2.0
charset-normalizer==3.4.0
coverage==7.6.4
coverage-badge==1.1.2
docutils==0.21.2
google-auth==2.35.0
kubernetes==31.0.0
lockfile==0.12.2
oauthlib==3.2.2
prometheus-client==0.21.0
pyasn1==0.6.1
pyasn1-modules==0.4.1
python-dateutil==2.9.0;post0
PyYAML==6.0.2
requests==2.32.3
requests-oauthlib==2.0.0
rsa==4.9
six==1.16.0
urllib3==2.2.3
websocket-client==1.8.0
